@import url('./mobile.css') screen and (max-width: 720px);
@import url('./desktop.css') screen and (min-width: 721px);

:root {
	--bg-color: #07461f;
	--snake-color: #0cf17f;
	--cell-light-color: #58a028;
	--cell-dark-color: #499119;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background: url('@/shared/assets/bg-1440.webp') center center no-repeat;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	padding: 20px 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.button {
	padding: 10px 40px;
	border-radius: 6px;
	border: 1px solid var(--cell-dark-color);
	background-color: var(--cell-light-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	cursor: pointer;
	min-width: 200px;
	border: 2px solid var(--cell-dark-color);
	box-shadow: 0px 0px 4px var(--snake-color);

	&:active,
	&:focus {
		outline: none;
	}
}

.link {
	color: inherit;
	text-decoration: none;
	&:hover {
		opacity: 0.7;
	}
}

.apple {
	width: var(--cell-size);
	height: var(--cell-size);
}
