.row {
	display: flex;
	gap: 2px;
	padding: 1px;

	& .col {
		width: var(--cell-size);
		height: var(--cell-size);
		border-radius: 2px;
	}

	&:nth-child(odd) .col {
		&:nth-child(odd) {
			background-color: var(--cell-light-color);
		}

		&:nth-child(even) {
			background-color: var(--cell-dark-color);
		}
	}

	&:nth-child(even) .col {
		&:nth-child(odd) {
			background-color: var(--cell-dark-color);
		}

		&:nth-child(even) {
			background-color: var(--cell-light-color);
		}
	}

	& .eat {
		position: relative;
		width: var(--cell-size);
		height: var(--cell-size);
	}

	& .snake {
		position: relative;
		border-radius: 50%;
		&::before {
			content: '';
			position: absolute;
			left: 0px;
			top: 0px;
			width: var(--snake-cell-size);
			height: var(--snake-cell-size);
			background-color: var(--snake-color);
			z-index: 1;
		}
	}
}
