.boardHeader {
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 6px;
}

.score {
	margin: 0;
	font-size: 1.5rem;
	color: var(--bg-color);
	text-shadow: 0px 0px 3px var(--snake-color);
	text-transform: uppercase;
}
